<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoApp</title>
</head>

<body>
    <h1>Edit Todo</h1>
    <form action="/Todo/<%=Todo._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="Todolist[title]" value="<%=Todo.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="description" name="Todolist[description]" value="<%= Todo.description%>">
        </div>
        <button>Update Todo</button>
    </form>
    <a href="/Todo/<%= Todo._id%>">Back To Todos</a><br>

</body>

</html>