<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoApp</title>
</head>
<body>
    <h1>Todos</h1>
    <a href="/Todo/new"> Add new Todo</a><br>
    <a href="/">home</a>
    <ul>
        <% for(let t of Todo ){ %>
            <li><a href="/Todo/<%= t._id %>"><%= t.title %> </a></li><br>
            <li><a href="/Todo/<%= t._id %>/edit">Edit</a></li><br>
            <li> <form action="/Todo/<%=t._id%>?_method=Delete" method="post">
                <button>Delete</button>
            </form></li><br>
        <% } %>  
    </ul>
</body>
</html> 