<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>TodoApp</title>
</head>
<body>
    <form action="/Todo" method="post">
        <div>
            <label for="title">Enter Task</label>
            <input type="text" id="title" name="Todolist[title]">
        </div>
        <div>
            <label for="location">Enter Description</label>
            <input type="text" id="description" name="Todolist[description]">
        </div>
        <button>Add Todos</button>
    </form>
    <a href="/Todo">Todos</a>
</body>
</html>